//header
$header-border: #999;

// base
$brand: #3d55a4;
$header: #666;
$text: #333;
$text-color: #333;
$error: #e23535;
$background:#e9d6b6;

$off-white: #fafafa;
$white: #fff;

// greys
$black: #222;
$darkgrey: #333;
$grey: #464646;
$lightgrey: #ddd;

// site
$blue: #4e92ec;
$link: $blue;

// Typography
$off-black: rgba(0, 0, 0, .87) !default;
// Header Styles
$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;
